# Ducknet
data/
ModelSaveTensorFlow/
ProgressFull/

# Preprocessing
dataset/
gt/
image/
mask/
roi/
output/
Predictions/
/segmentation/Preprocessing/70_noenhance_data
/segmentation/Ducknet/noenhance_data
/segmentation/Ducknet/Segment_Result

# Unet
figures/
models/
results/
classification/shap_output
classification/data
classification/images
classification/masks

__pycache__/

*.pyc

*.log
*.tmp
